<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vova.demo_oracle.DeptMapper" >
  <resultMap id="BaseResultMap" type="com.vova.demo_oracle.Dept" >
    <id column="EPTNO" property="eptno" jdbcType="DECIMAL" />
    <result column="DNAME" property="dname" jdbcType="VARCHAR" />
    <result column="LOC" property="loc" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from DEPT
    where EPTNO = #{eptno,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.vova.demo_oracle.Dept" >
    insert into DEPT (EPTNO, DNAME, LOC
      )
    values (#{eptno,jdbcType=DECIMAL}, #{dname,jdbcType=VARCHAR}, #{loc,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.vova.demo_oracle.Dept" >
    update DEPT
    set DNAME = #{dname,jdbcType=VARCHAR},
      LOC = #{loc,jdbcType=VARCHAR}
    where EPTNO = #{eptno,jdbcType=DECIMAL}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select EPTNO, DNAME, LOC
    from DEPT
    where EPTNO = #{eptno,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select EPTNO, DNAME, LOC
    from DEPT
  </select>
</mapper>